.register_container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}
  
.children_container {
  align-items: center;
  background-color: rgb(238, 238, 238);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: center;
  margin-top: auto;
  width: 396px;
}
  
.children_container h3 {
  font-size: 26px;
  text-align: center;
}
  
.children_container h5 {
  /* font-size: 16px;
  font-family: inherit;
  font-weight: 200;
  text-align: center; */
  padding: 8px 50%;
}
  
.register-name {
  background-color: whitesmoke;
  border: none;
  border-radius: 8px;
  /* box-sizing: border-box; */
  height: 44px;
  justify-content: center;
  margin-top: 10px;
  outline-color: #2058ad;
  padding: 8px 16px;
  width: 314px;
}
  
.register-email {
  background-color: whitesmoke;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  /* caret-color: #2fc18c; */
  height: 64px;
  margin-top: 10px;
  outline-color: #2058ad;
  padding: 8px 16px;
  width: 364px;
}
  
.register-password {
  background-color: whitesmoke;
  border: none;
  border-radius: 8px;
  box-sizing: border-box;
  height: 64px;
  margin-bottom: 20px;
  margin-top: 10px;
  outline-color: #2058ad;
  padding: 8px 16px;
  width: 364px;
}
  
.btn-register {
  background-color: #2058ad;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 800;
  height: 54px;
  margin-top: 10px;
  /* padding: 8px 16px; */
  width: 340px;
}
  
.btn-register:hover {
  background-color: #8fb3e9;
  box-shadow: 2px 3px 20px -4px #88afe9;
}
